<visicutPreferences>
  <defaultMapping>Cut everything</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <windowBounds>
    <x>0</x>
    <y>27</y>
    <width>1433</width>
    <height>842</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/tmp/ink_ext_XXXXXX.svgFZI42W.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgK2JT2W.svg</string>
    <string>/home/parag0n/hacmanmeeple.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgGHSY2W.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgA6P22W.svg</string>
  </recentFiles>
  <lastMaterial>Acrylic</lastMaterial>
  <lastLaserDevice>LAOS KIII</lastLaserDevice>
  <availableImporters>
    <string>com.t_oster.visicut.model.graphicelements.svgsupport.SVGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.jpgpngsupport.JPGPNGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.dxfsupport.DXFImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.epssupport.EPSImporter</string>
  </availableImporters>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
</visicutPreferences>