<visicutPreferences>
  <defaultMapping>Cut everything</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <windowBounds>
    <x>0</x>
    <y>22</y>
    <width>1280</width>
    <height>774</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/var/folders/5c/2gypvzlj1lsf10pnqxrmhktc0000gn/T/ink_ext_XXXXXX.svgQ04S7W.svg</string>
    <string>/var/folders/5c/2gypvzlj1lsf10pnqxrmhktc0000gn/T/ink_ext_XXXXXX.svgPM057W.svg</string>
  </recentFiles>
  <lastMaterial>MDF</lastMaterial>
  <lastLaserDevice>LAOS KIII</lastLaserDevice>
  <availableImporters>
    <string>com.t_oster.visicut.model.graphicelements.svgsupport.SVGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.jpgpngsupport.JPGPNGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.dxfsupport.DXFImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.epssupport.EPSImporter</string>
  </availableImporters>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
</visicutPreferences>